<html>
	<head>
		<title> This is a Test Page </title>
	</head>
	<body>
		<div>Time to set up the Accordians
		</div>
		<div> here's another div 
		</div>
	{% block content %}{% endblock %}
	</body>
</html>
		 
